body {
    background:navy!important;
    font-size: 18px;
    color:white!important;
}

#hidden-content,
#results {
    display: none;
}

.q-wrapper {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 7px;
    margin-bottom:10px;
}

.game-background {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    background:url('../images/trivia-game-background.jpg')no-repeat;
    background-size:cover;
    background-position:center;
    display: table;
}

.game-background:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, navy, navy);
        opacity: 0.6;
}

.home-screen-intro {
    top: 250px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.home-screen-intro h1 {
    font-size:3.4em;
}

#hidden-content p, span {
    font-size:2.3em;
    text-align:center;
}

.card-header,
.my-color {
    color:#000;
}

h5 {
    font-size:1.1em!important;
}


.allDone {
    font-weight: bold;
}

#start-button {
    border: 1px solid blue;
    width: 150px;
    background: pink;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.smallFont {
    font-size: 14px;
    display: inline;
}

.center {
    text-align:center;
    margin:0 auto;
    width:100%;
}



@media screen and (min-width:992px) {
    .center {
        width:50%;
    }
}
